<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>shopimultitabs</name>
	<displayName><![CDATA[Shopi Multiple Tabs In Product Module]]></displayName>
	<version><![CDATA[2.0.0]]></version>
	<description><![CDATA[Shopi Multiple Product Tab Module]]></description>
	<author><![CDATA[ShopiTheme]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>